@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

b {
    color: #f12ed0;
    font-family: 'Pacifico', cursive;
}

p{
    font-family: 'Poppins', serif;
    font-size: 20px;
}

html{
    background-color:rgb(255, 225, 230);
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 50px;
}
