@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

b {
    color: #f1aa2e;
    font-family: 'Pacifico', cursive;
}

html{
    background-color:rgb(255, 225, 230);
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 50px;
}
